.about-container {
    text-align: justify;
    font-size: 20px;
    padding: 0 15%;

    &::after {
        content: "";
        display: block;
        height: max-content;

        @media #{$mobile} {
            height: max-content;
        }
    }

    @media #{$mobile} {
        font-size: 16px;
        padding: 0 10px;
    }

    > hr {
        margin: 0 0 75px 0;

        @media #{$mobile} {
            display: none;
        }
    }

    .about {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "left-side right-side";

        gap: 24px;

        color: var(--color2);

        @media #{$mobile} {
            grid-template-columns: 1fr;
            grid-template-areas: "left-side" "right-side";
            gap: 12px;
        }

        > .grid-left-side {
            grid-area: left-side;
            width: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }

        > .grid-right-side {
            grid-area: right-side;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            @media #{$mobile} {
                grid-template-columns: 1fr;
                grid-template-areas: "left-side" "right-side";
            }

            > img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .col {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h2 {
            font-size: 32px;

            @media #{$mobile} {
                font-size: 20px;
            }
        }

        .title {
            width: 100%;
            margin-top: 0;
            color: var(--color3);

            @media #{$mobile} {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}
