.about-container {
  text-align: justify;
  font-size: 20px;

  @media #{$mobile} {
    font-size: 16px;
  }

  hr {
    margin: 40px;
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color2);
  margin: 200px 20%;

  @media #{$mobile} {
    flex-direction: column;
    gap: 48px;
    margin: 100px 10%;
  }

  .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
    width: 150px;
    text-transform: uppercase;
    font-family: "Playfair Display";
  }
}
