.about-container {
  hr {
    margin: 40px;
  }
}
.about {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color2);
  margin: 200px 20%;

  @media #{$mobile} {
    flex-direction: column;
    gap: 48px;
    margin: 100px 10%;
  }

  .col {
    display: flex;
    align-items: center;
  }
  h2 {
    width: 120px;
    text-transform: uppercase;
  }
}
