.footer-container {
    font-family: Yaldevi;
    padding: 70px 0;
    background: var(--color4);
    color: var(--color2);
    //position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    @media #{$mobile} {
        padding: 10px;
    }

    .router-link-active {
        height: max-content;
    }

    hr {
        margin-bottom: 48px;
        width: 85%;

        @media #{$mobile} {
            width: 100%;
            padding: 0 10px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    iframe {
        width: 100%;
        width: 100%;

        //min-width: 300px;

        @media #{$mobile} {
            height: 150px;
            width: 150px;
        }

        @media #{$mobile2} {
            height: 100px;
            width: 100vw;
            padding: 0 10px;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        gap: 24px;
        padding: 0 15%;

        @media #{$mobile} {
            padding: 0;
            gap: 10px;
            flex-direction: row;
        }

        @media #{$mobile2} {
            flex-wrap: wrap;
        }

        > div {
            @media #{$mobile} {
                font-size: 10px;
            }
        }

        img {
            height: 120px;

            @media #{$mobile} {
                height: 48px;
            }
        }

        > .col {
            @media #{$mobile2} {
                max-width: calc(50vw - 30px);
            }

            @media #{$mobile3} {
                max-width: 100vw;
            }
        }

        > .info {
            display: flex;
            flex-direction: column;

            gap: 24px;

            @media #{$mobile} {
                text-align: left;
                font-size: 9px;
                gap: 8px;
            }

            @media #{$mobile2} {
                max-width: calc(50vw - 30px);
            }

            @media #{$mobile3} {
                max-width: 100vw;
            }

            .numbers {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            a {
                padding: 4px 16px;
                color: var(--color2);
                border-radius: 4px;

                @media #{$mobile} {
                    padding: 0;
                    text-align: left;
                }

                &:hover {
                    color: $red1;
                    transition: all 0.2s;
                }
            }
        }
    }
}

.allrights {
    font-family: Yaldevi;
    text-align: center;
    //position: absolute;
    bottom: 0;
    width: 100%;
    color: $blue1;
    background: var(--color1);
    color: var(--color2);
    font-size: 14px;
    padding: 11px;

    @media #{$mobile} {
        padding: 8px;
        font-size: 10px;
    }
}
