.gallery-container {
    width: 100%;
    padding: 0 15%;
    margin-bottom: 100px;

    /* &::after {
        content: "";
        display: block;
        height: 498px;
    }
 */
    > .masonry-with-columns {
        height: max-content;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
        margin-top: 48px;

        @media #{$mobile} {
            margin: 0 5%;
        }

        > .event {
            width: calc(33% - 13px);
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;

            @media #{$mobile} {
                margin: 0;
                width: 200px;
            }
        }
    }
}
