.home {
    position: relative;
    margin-top: 100px;

    @media #{$mobile} {
        margin-top: 50px;
    }

    > h1 {
        font-weight: "semi-bold";
        margin-top: 96px;
        margin-bottom: 76px;

        @media #{$mobile} {
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 24px;
        }
    }

    > .heroimg {
        position: relative;

        > .bg {
            position: relative;
            background-color: var(--color4);

            img {
                width: 100%;
                height: 600px;
                object-fit: cover;

                @media #{$mobile} {
                    height: 175px;
                }
            }

            .bgMask {
                background: var(--color1);
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .bgMaskMsg {
                position: absolute;
                background: var(--color1);
                opacity: 0.8;
                height: 200px;
                width: 100%;
                bottom: 0;

                @media #{$mobile} {
                    height: 0;
                }
            }
        }

        .title {
            // color: var(--color2);
            width: 100%;
            color: var(--color3);
            cursor: pointer;

            & .left {
                left: 15%;
                position: absolute;
                opacity: 0.3;

                @media #{$mobile} {
                    top: 125px;
                    left: 10px;
                }
            }

            & .left:hover {
                font-weight: 500;
            }

            & .right {
                right: 15%;
                position: absolute;
                opacity: 0.3;

                @media #{$mobile} {
                    top: 125px;
                    right: 10px;
                }
            }

            & .right:hover {
                font-weight: 500;
            }

            & .active {
                opacity: 0.6;

                @media #{$mobile} {
                    font-weight: 500;
                }
            }
        }

        h4 {
            font-weight: 100;
            z-index: 99;
            position: absolute;
            font-family: "Yaldevi";
            bottom: 200px;
            margin: 0;
            font-size: 100px;

            @media #{$mobile} {
                bottom: 100px;
                font-size: 32px;
            }
        }

        .overlayText {
            position: absolute;
            left: 50%;
            width: 70%;
            bottom: 0;
            transform: translate(-50%, 0%);
            margin-bottom: 24px;
            text-align: justify;
            font-size: 20px;
            color: var(--color2);

            @media #{$mobile} {
                padding: 10px;
                width: 100%;
                font-size: 16px;
                position: relative;
            }
        }
    }
}
