.home {
    position: relative;

    .bg {
        position: relative;
        
        img {
          width: 100%;
          height: 100%;
        }
        
        .bgMask {
          background-color: rgba(255, 255, 255, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
    }
  
    .overlayText{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 100px;
      
        .red {
          color: #D30516;
        }
    }
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    gap: 16px;
    

    img {
        height: 400px;
        width: auto;
    }
}