.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 30px;
  background: var(--color1);
  color: var(--color3);
  height: 50px;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 0.3s top ease-in-out;
  font-family: Yaldevi;
  height: 200px;
  padding: 30px 10%;

  h3 {
    margin: 0;
    font-weight: 500;

    @media #{$mobile} {
      font-size: 12px;
    }
  }

  &.navbar-scrolled {
    top: -140px;
    padding: 16px 10%;

    h3 {
      padding-top: 32px;
    }
    // h3 {
    //   margin-top: 36px;
    // }
    // .right {
    //   margin-bottom: 16px;
    // }
  }

  @media #{$mobile} {
    display: none;
  }

  .left {
    align-items: flex-start;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .right {
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    height: 100%;
  }

  // &.moveUp {
  //   top: -70px;
  // }

  img {
    height: 100px;
  }

  .row {
    align-items: center;
  }
}

.navigationRight {
  font-family: Yaldevi;
  position: fixed;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  z-index: 100;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  background: var(--color1);
  color: var(--color3);
  box-shadow: 0px 4px 4px 0px #00000040;
  font-size: 32px;
  line-height: 42.11px;
  text-align: right;
  padding-right: 30px;
  transition: 0.3s;
  font-size: 24px;

  @media #{$mobile} {
    display: flex;
  }

  &.slideRight {
    //width: 0;
    right: -200px;

    .pagesNav {
      visibility: hidden;
    }

    .menuBtn {
      left: -60px;
    }
  }

  img {
    width: 70%;
    height: auto;
  }

  .menuBtn {
    cursor: pointer;
    position: absolute;
    left: calc(-85px / 2);
    top: 20px;

    svg {
      path {
        fill: var(--color1);
      }

      @media #{$mobile} {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.pagesNav {
  display: flex;
  gap: 24px;
  height: 24px;

  a {
    font-weight: 500;
    background: transparent;
    color: var(--color3);
    opacity: 0.4;
    text-decoration: none;
    text-align: left;
    margin-bottom: 8px;

    &:hover {
      transition: all 0.2s;
      color: var(--color3);
      padding-bottom: 8px;
    }

    &.router-link-exact-active {
      color: var(--color3);
      opacity: 1;

      &:hover {
        background: none;
      }
    }
  }
}

.switchlang {
  display: flex;
  gap: 8px;

  a {
    color: var(--color3);
    opacity: 0.4;
    cursor: pointer;

    &:hover {
      color: var(--color2);
      opacity: 1;
    }
  }
}
