.page {
  color: var(--color3);
  text-align: left;
  position: relative;
  min-height: 100vh;
  padding-top: 180px;

  &::after {
    content: "";
    display: block;
    height: 498px;
  }
}

.organization-container {
  padding: 24px 96px;
}

.members-container {
  padding: 24px 96px;
}

.archive-container {
  padding: 24px 96px;

  ul {
    list-style: none;
  }
  .btns {
    display: flex;
    flex-direction: row;
    gap: 24px;

    button {
      cursor: pointer;
      font-family: Yaldevi;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 20px;
      background: $red1;
      color: $white1;
      outline: none;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
    }
  }
}

.about-container {
  padding: 24px 96px;
}
