@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Yaldevi:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
[data-theme=light] {
  --color1: #fff;
  --color2: #292929;
  --color3: #2c3e50;
  --color4: #fafafa;
  --color5: #d1d1d1;
}

[data-theme=dark] {
  --color1: #292929;
  --color2: #fff;
  --color3: #fff;
  --color4: #202020;
  --color5: #202020;
}

html {
  overflow-y: scroll;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--color4);
  color: var(--color3);
}

h1 {
  color: var(--color3);
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 900px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color5);
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

#app {
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.row {
  display: flex;
  gap: 8px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.primary-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3019607843);
  background: #d30516;
  font-size: 13px;
}
.primary-btn path {
  fill: var(--color1);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 30px;
  background: var(--color1);
  color: var(--color3);
  height: 50px;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 0.3s top ease-in-out;
  font-family: Yaldevi;
  height: 200px;
  padding: 30px 10%;
}
.navigation h3 {
  margin: 0;
  font-weight: 500;
}
@media (max-width: 900px) {
  .navigation h3 {
    font-size: 12px;
  }
}
.navigation.navbar-scrolled {
  top: -140px;
  padding: 16px 10%;
}
.navigation.navbar-scrolled h3 {
  padding-top: 32px;
}
@media (max-width: 900px) {
  .navigation {
    display: none;
  }
}
.navigation .left {
  align-items: flex-start;
}
.navigation .left,
.navigation .right {
  display: flex;
  flex-direction: column;
}
.navigation .right {
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
  height: 100%;
}
.navigation img {
  height: 100px;
}
.navigation .row {
  align-items: center;
}

.navigationRight {
  font-family: Yaldevi;
  position: fixed;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  z-index: 100;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  background: var(--color1);
  color: var(--color3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 32px;
  line-height: 42.11px;
  text-align: right;
  padding-right: 30px;
  transition: 0.3s;
  font-size: 24px;
}
@media (max-width: 900px) {
  .navigationRight {
    display: flex;
  }
}
.navigationRight.slideRight {
  right: -200px;
}
.navigationRight.slideRight .pagesNav {
  visibility: hidden;
}
.navigationRight.slideRight .menuBtn {
  left: -60px;
}
.navigationRight img {
  width: 70%;
  height: auto;
}
.navigationRight .menuBtn {
  cursor: pointer;
  position: absolute;
  left: -42.5px;
  top: 20px;
}
.navigationRight .menuBtn svg path {
  fill: var(--color1);
}
@media (max-width: 900px) {
  .navigationRight .menuBtn svg {
    width: 50px;
    height: 50px;
  }
}

.pagesNav {
  display: flex;
  gap: 24px;
  height: 24px;
}
.pagesNav a {
  font-weight: 500;
  background: transparent;
  color: var(--color3);
  opacity: 0.4;
  text-decoration: none;
  text-align: left;
  margin-bottom: 8px;
}
.pagesNav a:hover {
  transition: all 0.2s;
  color: var(--color3);
  padding-bottom: 8px;
}
.pagesNav a.router-link-exact-active {
  color: var(--color3);
  opacity: 1;
}
.pagesNav a.router-link-exact-active:hover {
  background: none;
}

.switchlang {
  display: flex;
  gap: 8px;
}
.switchlang a {
  color: var(--color2);
  cursor: pointer;
}
.switchlang a:hover {
  color: #d30516 !important;
}

.home {
  position: relative;
}

.heroimg {
  position: relative;
}
.heroimg .bg {
  position: relative;
  background-color: var(--color4);
}
.heroimg .bg img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroimg .bg .bgMask {
  background-color: var(--color1);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.heroimg .bg .bgMaskMsg {
  position: absolute;
  background: #fff;
  opacity: 0.8;
  height: 200px;
  width: 100%;
  bottom: 0;
}
.heroimg .title {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.heroimg h4 {
  font-weight: 100;
  z-index: 99;
  position: absolute;
  font-family: "Yaldevi";
  bottom: 200px;
  margin: 0;
  font-size: 100px;
}
.heroimg .overlayText {
  position: absolute;
  left: 50%;
  width: 60%;
  bottom: 0;
  transform: translate(-50%, 0%);
  margin-bottom: 24px;
  text-align: justify;
  font-size: 18px;
  color: var(--color2);
}
@media (max-width: 900px) {
  .heroimg .overlayText {
    font-size: 16px;
  }
}

.eventDetails {
  background-color: var(--color4);
  color: var(--color3);
  padding: 16px;
  padding-top: 200px;
}
@media (max-width: 900px) {
  .eventDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.eventDetails .title {
  text-align: left;
  text-transform: uppercase;
  padding: 10px;
  color: #d30516;
  border-bottom: 3px solid #d30516;
}
.eventDetails .desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 55%;
  word-break: break-all;
}
@media (max-width: 900px) {
  .eventDetails .desc {
    max-width: 80%;
  }
}
.eventDetails .imgContainer {
  width: 40%;
  height: 100vh;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (max-width: 900px) {
  .eventDetails .imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 24px;
  }
}

.events-container hr {
  margin: 40px 80px;
}

.events {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 96px 15%;
  gap: 32px;
}
@media (max-width: 1200px) {
  .events {
    grid-template-columns: 1fr;
  }
}
.events a,
.events a:visited,
.events a:hover {
  text-decoration: none;
  color: var(--color3);
}
.events .event {
  display: flex;
  flex-direction: column;
  background-color: var(--color1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 8px;
  padding: 16px;
  min-height: 150px;
}
.events .event img {
  height: 200px !important;
  width: 200px !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.events .event .row {
  align-items: center;
}
.events .event .name {
  font-weight: bold;
}
.events .event .content {
  line-height: 150%;
}

.about-container {
  text-align: justify;
  font-size: 20px;
}
@media (max-width: 900px) {
  .about-container {
    font-size: 16px;
  }
}
.about-container hr {
  margin: 40px;
}

.about {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color2);
  margin: 200px 20%;
}
@media (max-width: 900px) {
  .about {
    flex-direction: column;
    gap: 48px;
    margin: 100px 10%;
  }
}
.about .col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about h2 {
  text-align: center;
  width: 150px;
  text-transform: uppercase;
  font-family: "Playfair Display";
}

.footer-container {
  font-family: Yaldevi;
  padding: 70px 120px;
  background: var(--color4);
  color: var(--color2);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 900px) {
  .footer-container {
    padding: 60px;
  }
}
.footer-container .router-link-active {
  height: -moz-max-content;
  height: max-content;
}
.footer-container hr {
  margin-bottom: 48px;
}
.footer-container iframe {
  min-width: 300px;
}
.footer-container .footer {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 900px) {
  .footer-container .footer {
    flex-direction: column;
  }
}
.footer-container .footer img {
  height: 120px;
}
.footer-container .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-container .info .numbers {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-container .info a {
  padding: 4px 16px;
  color: var(--color2);
  border-radius: 4px;
}
.footer-container .info a:hover {
  color: #d30516;
  transition: all 0.2s;
}

.allrights {
  font-family: Yaldevi;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #2c3e50;
  background: #d9d9d9;
  font-size: 16px;
  padding: 11px;
}

.page {
  color: var(--color3);
  text-align: left;
  position: relative;
  min-height: 100vh;
  padding-top: 180px;
}
.page::after {
  content: "";
  display: block;
  height: 498px;
}

.organization-container {
  padding: 24px 96px;
}

.members-container {
  padding: 24px 96px;
}

.archive-container {
  padding: 24px 96px;
}
.archive-container ul {
  list-style: none;
}
.archive-container .btns {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.archive-container .btns button {
  cursor: pointer;
  font-family: Yaldevi;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  background: #d30516;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}

.about-container {
  padding: 24px 96px;
}

.gallery-container {
  width: 100%;
}
.gallery-container::after {
  content: "";
  display: block;
  height: 498px;
}
.gallery-container .masonry-with-columns {
  margin: 0 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  gap: 24px;
}
@media (max-width: 900px) {
  .gallery-container .masonry-with-columns {
    margin: 0 5%;
  }
}
.gallery-container .masonry-with-columns img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media (max-width: 900px) {
  .gallery-container .masonry-with-columns img {
    margin: 0;
    width: 200px;
  }
}/*# sourceMappingURL=index.css.map */