@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Yaldevi:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
[data-theme=light] {
  --color1: #fff;
  --color2: #292929;
  --color3: #2c3e50;
  --color4: #fafafa;
  --color5: #d1d1d1;
}

[data-theme=dark] {
  --color1: #292929;
  --color2: #fff;
  --color3: #fff;
  --color4: #202020;
  --color5: #202020;
}

html {
  overflow-y: scroll;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--color4);
  color: var(--color3);
}

h1 {
  color: var(--color3);
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 930px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color5);
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: initial;
}

#app {
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.row {
  display: flex;
  gap: 8px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.primary-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3019607843);
  background: #d30516;
  font-size: 13px;
}
.primary-btn path {
  fill: var(--color1);
}

.navigation {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 30px 15%;
  background: var(--color1);
  color: var(--color3);
  position: fixed;
  top: 0;
  z-index: 100;
  font-family: Yaldevi;
  transition: 0.3s top ease-in-out;
}
@media (max-width: 930px) {
  .navigation {
    height: 50px;
    padding: 10px;
    box-shadow: 0px -14px 20px black;
  }
}
.navigation > .left {
  height: 100%;
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
@media (max-width: 930px) {
  .navigation > .left {
    gap: 10px;
    flex-direction: row;
    align-items: center;
  }
}
.navigation > .left > h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 930px) {
  .navigation > .left > h3 {
    font-size: 9px;
    width: 100px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 100;
  }
}
.navigation > .left > div {
  max-height: calc(100% - 20px);
}
@media (max-width: 930px) {
  .navigation > .left > div {
    max-height: 68px;
  }
}
@media (max-width: 930px) {
  .navigation > .left > div > a {
    height: -moz-max-content;
    height: max-content;
    display: block;
  }
}
.navigation > .left > div > a > img {
  height: 100%;
  max-height: 120px;
}
@media (max-width: 930px) {
  .navigation > .left > div > a > img {
    width: 68px;
    height: auto;
    display: block;
  }
}
.navigation > .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
  height: 100%;
}
.navigation > .right > .row {
  align-items: center;
}
@media (max-width: 930px) {
  .navigation > .right > .row {
    height: 100%;
  }
}
.navigation > .right > .row > .nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation > .right > .pagesNav {
  display: flex;
  gap: 24px;
  height: 24px;
  margin-bottom: -1px;
}
@media (max-width: 930px) {
  .navigation > .right > .pagesNav {
    display: none;
  }
}
.navigation > .right > .pagesNav > a {
  font-weight: 500;
  background: transparent;
  color: var(--color3);
  opacity: 0.4;
  text-decoration: none;
  text-align: left;
}
.navigation > .right > .pagesNav > a:hover {
  transition: all 0.2s;
  color: var(--color3);
  padding-bottom: 8px;
}
.navigation > .right > .pagesNav > a.router-link-exact-active {
  color: var(--color3);
  opacity: 1;
}
.navigation.navbar-scrolled {
  top: -140px;
  padding-bottom: 20px;
  /* +padding: 20px 15%; */
}
@media (max-width: 930px) {
  .navigation.navbar-scrolled {
    top: 0;
    padding: 10px;
  }
}
.navigation.navbar-scrolled h3 {
  padding-top: 32px;
}
@media (max-width: 930px) {
  .navigation.navbar-scrolled h3 {
    padding-top: 0px;
  }
}

.navigationRight {
  font-family: Yaldevi;
  position: fixed;
  display: none;
  justify-content: space-around;
  flex-direction: column;
  z-index: 100;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  background: var(--color1);
  color: var(--color3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  font-size: 32px;
  line-height: 42.11px;
  text-align: right;
  padding-right: 30px;
  transition: 0.3s;
  font-size: 24px;
}
@media (max-width: 930px) {
  .navigationRight {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
}
@media (max-width: 930px) {
  .navigationRight strong {
    font-size: 14px;
  }
}
.navigationRight.slideRight {
  right: -200px;
}
.navigationRight.slideRight .pagesNav {
  visibility: hidden;
}
.navigationRight.slideRight .menuBtn {
  left: -60px;
}
.navigationRight .menu-top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.navigationRight .menu-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.navigationRight img {
  width: 70%;
  height: auto;
}
@media (max-width: 930px) {
  .navigationRight img {
    width: 100%;
    display: block;
  }
}
.navigationRight .pagesNav {
  padding: 0 15px;
  font-size: 20px;
}
.navigationRight .pagesNav > a {
  background: transparent;
  color: var(--color3);
  opacity: 0.4;
  text-decoration: none;
  text-align: left;
}
.navigationRight .pagesNav > a.router-link-exact-active {
  color: var(--color3);
  opacity: 1;
}
.navigationRight .menuBtn {
  cursor: pointer;
  position: absolute;
  left: -42.5px;
  top: 20px;
}
.navigationRight .menuBtn svg path {
  fill: var(--color1);
}
@media (max-width: 930px) {
  .navigationRight .menuBtn svg {
    width: 50px;
    height: 50px;
  }
}

.switchlang {
  display: flex;
  gap: 8px;
}
.switchlang a {
  color: var(--color3);
  opacity: 0.4;
  cursor: pointer;
}
@media (max-width: 930px) {
  .switchlang a {
    font-size: 14px;
  }
}
.switchlang a:hover {
  color: var(--color2);
  opacity: 1;
}

.home {
  position: relative;
  margin-top: 100px;
}
@media (max-width: 930px) {
  .home {
    margin-top: 50px;
  }
}
.home > h1 {
  font-weight: "semi-bold";
  margin-top: 96px;
  margin-bottom: 76px;
}
@media (max-width: 930px) {
  .home > h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 24px;
  }
}
.home > .heroimg {
  position: relative;
}
.home > .heroimg > .bg {
  position: relative;
  background-color: var(--color4);
}
.home > .heroimg > .bg img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 930px) {
  .home > .heroimg > .bg img {
    height: 175px;
  }
}
.home > .heroimg > .bg .bgMask {
  background: var(--color1);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home > .heroimg > .bg .bgMaskMsg {
  position: absolute;
  background: var(--color1);
  opacity: 0.8;
  height: 200px;
  width: 100%;
  bottom: 0;
}
@media (max-width: 930px) {
  .home > .heroimg > .bg .bgMaskMsg {
    height: 0;
  }
}
.home > .heroimg .title {
  width: 100%;
  color: var(--color3);
  cursor: pointer;
}
.home > .heroimg .title .left {
  left: 15%;
  position: absolute;
  opacity: 0.3;
}
@media (max-width: 930px) {
  .home > .heroimg .title .left {
    top: 125px;
    left: 10px;
  }
}
.home > .heroimg .title .left:hover {
  font-weight: 500;
}
.home > .heroimg .title .right {
  right: 15%;
  position: absolute;
  opacity: 0.3;
}
@media (max-width: 930px) {
  .home > .heroimg .title .right {
    top: 125px;
    right: 10px;
  }
}
.home > .heroimg .title .right:hover {
  font-weight: 500;
}
.home > .heroimg .title .active {
  opacity: 0.6;
}
@media (max-width: 930px) {
  .home > .heroimg .title .active {
    font-weight: 500;
  }
}
.home > .heroimg h4 {
  font-weight: 100;
  z-index: 99;
  position: absolute;
  font-family: "Yaldevi";
  bottom: 200px;
  margin: 0;
  font-size: 100px;
}
@media (max-width: 930px) {
  .home > .heroimg h4 {
    bottom: 100px;
    font-size: 32px;
  }
}
.home > .heroimg .overlayText {
  position: absolute;
  left: 50%;
  width: 70%;
  bottom: 0;
  transform: translate(-50%, 0%);
  margin-bottom: 24px;
  text-align: justify;
  font-size: 20px;
  color: var(--color2);
}
@media (max-width: 930px) {
  .home > .heroimg .overlayText {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    position: relative;
  }
}

.eventDetails {
  background-color: var(--color4);
  color: var(--color3);
  padding: 250px 15% 50px 15%;
}
@media (max-width: 930px) {
  .eventDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    padding-top: 70px;
  }
}
.eventDetails > .eventDetailsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side" "bottom-side bottom-side";
  color: var(--color2);
}
@media (max-width: 930px) {
  .eventDetails > .eventDetailsContainer {
    grid-template-columns: 1fr;
    grid-template-areas: "left-side" "right-side" "bottom-side";
  }
}
.eventDetails > .eventDetailsContainer > .grid-left-side {
  grid-area: left-side;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.eventDetails > .eventDetailsContainer > .grid-right-side {
  grid-area: right-side;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.eventDetails > .eventDetailsContainer > .grid-right-side > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.eventDetails > .eventDetailsContainer > .grid-bottom-side {
  grid-area: bottom-side;
  width: 100%;
  padding: 75px 0 0 0;
}
@media (max-width: 930px) {
  .eventDetails > .eventDetailsContainer > .grid-bottom-side {
    padding-top: 20px;
  }
}
.eventDetails > .eventDetailsContainer > .grid-bottom-side > .event-gallery-container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}
.eventDetails > .eventDetailsContainer > .grid-bottom-side > .event-gallery-container > .gallery-image {
  width: calc(20% - 12.5px);
  height: 100%;
}
@media (max-width: 930px) {
  .eventDetails > .eventDetailsContainer > .grid-bottom-side > .event-gallery-container > .gallery-image {
    width: calc(50% - 10px);
  }
}
.eventDetails > .eventDetailsContainer > .grid-bottom-side > .event-gallery-container > .gallery-image > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  display: block;
}
.eventDetails .title {
  text-align: left;
  text-transform: uppercase;
  padding: 10px;
  color: #d30516;
  border-bottom: 3px solid #d30516;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  margin-top: 0;
}
@media (max-width: 930px) {
  .eventDetails .title {
    margin-bottom: 10px;
  }
}
.eventDetails .date {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
}
.eventDetails .desc {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  gap: 24px;
  /* max-width: 55%; */
  text-align: justify;
}
@media (max-width: 930px) {
  .eventDetails .desc {
    padding: 0;
    width: 100%;
  }
}
.eventDetails .imgContainer {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  /*         right: 0;
  top: 0; */
  /* box-shadow: 0px 4px 4px 0px #00000040; */
}
@media (max-width: 930px) {
  .eventDetails .imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 24px;
  }
}

.events-container hr {
  margin: 40px 80px;
}

.events {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 96px 15%;
  gap: 32px;
}
@media (max-width: 1200px) {
  .events {
    grid-template-columns: 1fr;
  }
}
.events a,
.events a:visited,
.events a:hover {
  text-decoration: none;
  color: var(--color3);
}
.events .event {
  display: flex;
  flex-direction: column;
  background-color: var(--color1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 8px;
  padding: 16px;
  min-height: 150px;
}
.events .event img {
  height: 200px !important;
  width: 200px !important;
  -o-object-fit: contain;
     object-fit: contain;
}
.events .event .row {
  align-items: center;
}
.events .event .name {
  font-weight: bold;
}
.events .event .content {
  line-height: 150%;
}

.about-container {
  text-align: justify;
  font-size: 20px;
  padding: 0 15%;
}
.about-container::after {
  content: "";
  display: block;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 930px) {
  .about-container::after {
    height: -moz-max-content;
    height: max-content;
  }
}
@media (max-width: 930px) {
  .about-container {
    font-size: 16px;
    padding: 0 10px;
  }
}
.about-container > hr {
  margin: 0 0 75px 0;
}
@media (max-width: 930px) {
  .about-container > hr {
    display: none;
  }
}
.about-container .about {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side";
  gap: 24px;
  color: var(--color2);
}
@media (max-width: 930px) {
  .about-container .about {
    grid-template-columns: 1fr;
    grid-template-areas: "left-side" "right-side";
    gap: 12px;
  }
}
.about-container .about > .grid-left-side {
  grid-area: left-side;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-container .about > .grid-right-side {
  grid-area: right-side;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 930px) {
  .about-container .about > .grid-right-side {
    grid-template-columns: 1fr;
    grid-template-areas: "left-side" "right-side";
  }
}
.about-container .about > .grid-right-side > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-container .about .col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container .about h2 {
  font-size: 32px;
}
@media (max-width: 930px) {
  .about-container .about h2 {
    font-size: 20px;
  }
}
.about-container .about .title {
  width: 100%;
  margin-top: 0;
  color: var(--color3);
}
@media (max-width: 930px) {
  .about-container .about .title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer-container {
  font-family: Yaldevi;
  padding: 70px 0;
  background: var(--color4);
  color: var(--color2);
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media (max-width: 930px) {
  .footer-container {
    padding: 10px;
  }
}
.footer-container .router-link-active {
  height: -moz-max-content;
  height: max-content;
}
.footer-container hr {
  margin-bottom: 48px;
  width: 85%;
}
@media (max-width: 930px) {
  .footer-container hr {
    width: 100%;
    padding: 0 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.footer-container iframe {
  width: 100%;
  width: 100%;
}
@media (max-width: 930px) {
  .footer-container iframe {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 390px) {
  .footer-container iframe {
    height: 100px;
    width: 100vw;
    padding: 0 10px;
  }
}
.footer-container .footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 15%;
}
@media (max-width: 930px) {
  .footer-container .footer {
    padding: 0;
    gap: 10px;
    flex-direction: row;
  }
}
@media (max-width: 390px) {
  .footer-container .footer {
    flex-wrap: wrap;
  }
}
@media (max-width: 930px) {
  .footer-container .footer > div {
    font-size: 10px;
  }
}
.footer-container .footer img {
  height: 120px;
}
@media (max-width: 930px) {
  .footer-container .footer img {
    height: 48px;
  }
}
@media (max-width: 390px) {
  .footer-container .footer > .col {
    max-width: calc(50vw - 30px);
  }
}
@media (max-width: 265px) {
  .footer-container .footer > .col {
    max-width: 100vw;
  }
}
.footer-container .footer > .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 930px) {
  .footer-container .footer > .info {
    text-align: left;
    font-size: 9px;
    gap: 8px;
  }
}
@media (max-width: 390px) {
  .footer-container .footer > .info {
    max-width: calc(50vw - 30px);
  }
}
@media (max-width: 265px) {
  .footer-container .footer > .info {
    max-width: 100vw;
  }
}
.footer-container .footer > .info .numbers {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-container .footer > .info a {
  padding: 4px 16px;
  color: var(--color2);
  border-radius: 4px;
}
@media (max-width: 930px) {
  .footer-container .footer > .info a {
    padding: 0;
    text-align: left;
  }
}
.footer-container .footer > .info a:hover {
  color: #d30516;
  transition: all 0.2s;
}

.allrights {
  font-family: Yaldevi;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #2c3e50;
  background: var(--color1);
  color: var(--color2);
  font-size: 14px;
  padding: 11px;
}
@media (max-width: 930px) {
  .allrights {
    padding: 8px;
    font-size: 10px;
  }
}

.page {
  color: var(--color3);
  text-align: left;
  position: relative;
  min-height: 100vh;
  /* &::after {
      content: "";
      display: block;
      height: 498px;
  } */
}
.page h1 {
  text-align: left;
}
.page a {
  color: var(--color3);
}

.organization-container {
  padding: 220px 15% 50px 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 930px) {
  .organization-container {
    padding: 75px 10px 0 10px;
  }
}
.organization-container h1 {
  margin-bottom: 100px;
  font-size: 32px;
  text-align: center;
}
@media (max-width: 930px) {
  .organization-container h1 {
    margin-bottom: 50px;
    font-size: 20px;
  }
}
.organization-container .organization-members {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  align-items: flex-start;
  gap: 64px;
}
@media (max-width: 930px) {
  .organization-container .organization-members {
    grid-template-columns: max-content;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 30px;
  }
}
.organization-container .organization-members h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
}
@media (max-width: 930px) {
  .organization-container .organization-members h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.organization-container .organization-members div {
  font-size: 20px;
}
@media (max-width: 930px) {
  .organization-container .organization-members div {
    font-size: 16px;
  }
}
.members-container {
  padding: 220px 15% 50px 15%;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
}
@media (max-width: 930px) {
  .members-container {
    padding: 75px 10px 0 10px;
  }
}
.members-container h1 {
  margin-bottom: 100px;
  font-size: 32px;
  text-align: center;
}
@media (max-width: 930px) {
  .members-container h1 {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

.members-all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
  padding-left: 64px;
  gap: 100px;
}
@media (max-width: 930px) {
  .members-all {
    padding-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
  }
}
.members-all h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 20px;
}
@media (max-width: 930px) {
  .members-all h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.members-all div {
  font-size: 20px;
}
@media (max-width: 930px) {
  .members-all div {
    font-size: 16px;
  }
}

.archive-container {
  padding: 220px 15% 100px 15%;
  height: -moz-max-content;
  height: max-content;
  min-height: 100vh;
}
@media (max-width: 930px) {
  .archive-container {
    padding: 75px 10px 0 10px;
  }
}
.archive-container .content {
  font-size: 20px;
  white-space: break-spaces;
}
@media (max-width: 930px) {
  .archive-container .content {
    font-size: 16px;
  }
}
.archive-container ul {
  padding-left: 20px;
}
.archive-container h1 {
  margin-bottom: 64px;
}
@media (max-width: 930px) {
  .archive-container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
  }
}
.archive-container > div > h4 {
  font-size: 20px;
  margin-top: 64px;
  text-align: center;
}
.archive-container .btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
.archive-container .btns button {
  cursor: pointer;
  font-family: Yaldevi;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  background: #d30516;
  color: #fff;
  outline: none;
  border: none;
  /* border-radius: 4px; */
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.gallery-container {
  width: 100%;
  padding: 0 15%;
  margin-bottom: 125px;
  /* &::after {
         content: "";
         display: block;
         height: 498px;
     }
  */
}
@media (max-width: 930px) {
  .gallery-container {
    padding: 0 10px;
    margin-bottom: 100px;
  }
}
.gallery-container > .masonry-with-columns {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  grid-row-gap: 100px;
  margin-top: 48px;
}
@media (max-width: 930px) {
  .gallery-container > .masonry-with-columns {
    margin: 0;
    gap: 10px;
    grid-row-gap: 60px;
  }
}
.gallery-container > .masonry-with-columns > .event {
  width: calc(33% - 14px);
}
@media (max-width: 930px) {
  .gallery-container > .masonry-with-columns > .event {
    width: calc(50% - 5px);
  }
}
.gallery-container > .masonry-with-columns img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
@media (max-width: 930px) {
  .gallery-container > .masonry-with-columns img {
    margin: 0;
    max-height: 100%;
    max-width: 100%;
  }
}
.gallery-container > .masonry-with-columns h3 {
  color: var(--color3);
  font-size: 24px;
  margin: 5px 0;
}
@media (max-width: 930px) {
  .gallery-container > .masonry-with-columns h3 {
    text-align: left;
    font-size: 14px;
  }
}
.gallery-container > .masonry-with-columns h4 {
  color: var(--color3);
  font-size: 14px;
  margin: 5px 0;
}
@media (max-width: 930px) {
  .gallery-container > .masonry-with-columns h4 {
    margin: 0;
    text-align: left;
    font-size: 10px;
  }
}

.image-modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.image-modal-container > .modal-background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 70%;
}
.image-modal-container > img {
  height: 100%;
  max-width: 85vw;
  max-height: 90vh;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
}
@media (max-width: 930px) {
  .image-modal-container > img {
    width: 100%;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
  }
}/*# sourceMappingURL=index.css.map */